In [1]:
%matplotlib inline
import os
import json
from pprint import pprint
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
import numpy as np
import statsmodels.api as sm
import statsmodels.formula.api as smf
import datetime
from sklearn.linear_model import LinearRegression, ElasticNet, LogisticRegression
from sklearn.tree import DecisionTreeRegressor, DecisionTreeClassifier
from sklearn.grid_search import GridSearchCV
from sklearn.feature_selection import VarianceThreshold
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import scale, robust_scale, LabelEncoder, OneHotEncoder
from sklearn.metrics import roc_auc_score, make_scorer
from sklearn import cross_validation as cv
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.ensemble.partial_dependence import plot_partial_dependence
from sklearn import tree
import re

In [2]:
data = pd.read_csv('train.csv')
# data.ix[data.Embarked==None,'Embarked']='S'
data.Embarked=data.Embarked.fillna('S')
# data.Cabin=data.Cabin.fillna(None)

data['title'] = data.Name.apply(lambda st: st[st.find(",")+1:st.find(".")]).str.strip()
data['Lname'] = data.Name.apply(lambda st: st[0:st.find(",")])
data['cabin'] = data.Cabin.replace(to_replace=np.nan, value=0).astype(str).apply(lambda st: st[0])
# data.Name.str[data.Name.str.find(",")+1:data.Name.str.find(".")]
# re.findall(r',(.*?).',data.Name.str)
data.loc[data.title=='Ms','title']='Miss'
# data.loc[data.title=='Don','title']='Mr'

data = data.drop(['PassengerId','Cabin','Name'],axis=1)

age = smf.ols(formula='Age ~ title + SibSp + Parch + Embarked + Pclass', data=data.dropna()).fit()
# print age.summary()
data['age_pred']=age.predict(data)
data.Age = data.Age.fillna(data.age_pred)
data.loc[data.Age<1,'Age']=1

data = data.drop(['age_pred'],axis=1)

In [13]:
data.describe([0.01,0.05,0.1,0.25,0.5,0.75,0.9,0.95,0.99])

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.618258    0.523008    0.381594   32.204208
std      0.486592    0.836071   13.597831    1.102743    0.806057   49.693429
min      0.000000    1.000000    1.000000    0.000000    0.000000    0.000000
1%       0.000000    1.000000    1.000000    0.000000    0.000000    0.000000
5%       0.000000    1.000000    4.000000    0.000000    0.000000    7.225000
10%      0.000000    1.000000   14.000000    0.000000    0.000000    7.550000
25%      0.000000    2.000000   21.500000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   29.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   36.750000    1.000000    0.000000   31.000000
90%      1.000000    3.000000   47.000000    1.000000    2.000000   77.958300
95%      1.000000    3.000000   54.000000    3.000000    2.000000  112.079150
99%      1.000000    3.000000   65.000000    5.000000    4.000000  249.006220
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [15]:
# data.to_csv('data.csv',index=False)
data.head(10)

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,title,Lname,cabin
0,0,3,male,22.000000,1,0,A/5 21171,7.2500,S,Mr,Braund,0
1,1,1,female,38.000000,1,0,PC 17599,71.2833,C,Mrs,Cumings,C
2,1,3,female,26.000000,0,0,STON/O2. 3101282,7.9250,S,Miss,Heikkinen,0
3,1,1,female,35.000000,1,0,113803,53.1000,S,Mrs,Futrelle,C
4,0,3,male,35.000000,0,0,373450,8.0500,S,Mr,Allen,0
5,0,3,male,35.084249,0,0,330877,8.4583,Q,Mr,Moran,0
6,0,1,male,54.000000,0,0,17463,51.8625,S,Mr,McCarthy,E
7,0,3,male,2.000000,3,1,349909,21.0750,S,Master,Palsson,0
8,1,3,female,27.000000,0,2,347742,11.1333,S,Mrs,Johnson,0
9,1,2,female,14.000000,1,0,237736,30.0708,C,Mrs,Nasser,0

In [12]:
print smf.probit(formula='Survived ~ Pclass + Sex + Age + SibSp + Parch + Fare + Embarked + title + cabin',
              data=data).fit().summary()

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.395981
         Iterations: 35
                          Probit Regression Results
==============================================================================
Dep. Variable:               Survived   No. Observations:                  891
Model:                         Probit   Df Residuals:                      859
Method:                           MLE   Df Model:                           31
Date:                Wed, 11 May 2016   Pseudo R-squ.:                  0.4054
Time:                        23:09:55   Log-Likelihood:                -352.82
converged:                      False   LL-Null:                       -593.33
                                        LLR p-value:                 3.776e-82
=========================================================================================
                            coef    std err          z      P>|z|      [95.0% Conf. Int.]
-----------------------------------------------------------------------------------------
Intercept                 1.9907   2.96e+06   6.73e-07      1.000     -5.79e+06  5.79e+06
Sex[T.male]              -9.7829   5.89e+06  -1.66e-06      1.000     -1.16e+07  1.16e+07
Embarked[T.Q]            -0.0194      0.231     -0.084      0.933        -0.472     0.433
Embarked[T.S]            -0.2092      0.145     -1.445      0.149        -0.493     0.075
title[T.Col]              9.3578   5.71e+06   1.64e-06      1.000     -1.12e+07  1.12e+07
title[T.Don]             -0.4329   2.05e+09  -2.11e-10      1.000     -4.01e+09  4.01e+09
title[T.Dr]               8.9274   5.71e+06   1.56e-06      1.000     -1.12e+07  1.12e+07
title[T.Jonkheer]        -0.1896   2.03e+09  -9.34e-11      1.000     -3.98e+09  3.98e+09
title[T.Lady]             6.3344   2.96e+06   2.14e-06      1.000      -5.8e+06   5.8e+06
title[T.Major]            9.1868   5.71e+06   1.61e-06      1.000     -1.12e+07  1.12e+07
title[T.Master]          10.5775   5.71e+06   1.85e-06      1.000     -1.12e+07  1.12e+07
title[T.Miss]             0.5254   2.96e+06   1.78e-07      1.000     -5.79e+06  5.79e+06
title[T.Mlle]             4.9326   2.96e+06   1.67e-06      1.000     -5.79e+06  5.79e+06
title[T.Mme]              5.2630   2.96e+06   1.78e-06      1.000      -5.8e+06   5.8e+06
title[T.Mr]               8.6334   5.71e+06   1.51e-06      1.000     -1.12e+07  1.12e+07
title[T.Mrs]              1.0632   2.96e+06    3.6e-07      1.000     -5.79e+06  5.79e+06
title[T.Rev]              2.0962   5.72e+06   3.66e-07      1.000     -1.12e+07  1.12e+07
title[T.Sir]             15.5103   5.71e+06   2.72e-06      1.000     -1.12e+07  1.12e+07
title[T.the Countess]     5.5970   2.96e+06   1.89e-06      1.000      -5.8e+06   5.8e+06
cabin[T.A]                0.0871      0.422      0.206      0.837        -0.740     0.915
cabin[T.B]                0.2911      0.332      0.878      0.380        -0.359     0.941
cabin[T.C]                0.0057      0.276      0.021      0.984        -0.535     0.546
cabin[T.D]                0.6730      0.339      1.986      0.047         0.009     1.337
cabin[T.E]                0.8128      0.323      2.520      0.012         0.181     1.445
cabin[T.F]                0.4586      0.494      0.929      0.353        -0.509     1.426
cabin[T.G]               -0.3874      0.637     -0.608      0.543        -1.636     0.861
cabin[T.T]               -5.9683   3.17e+04     -0.000      1.000     -6.22e+04  6.22e+04
Pclass                   -0.5009      0.112     -4.471      0.000        -0.721    -0.281
Age                      -0.0186      0.006     -3.299      0.001        -0.030    -0.008
SibSp                    -0.3455      0.072     -4.778      0.000        -0.487    -0.204
Parch                    -0.2176      0.079     -2.738      0.006        -0.373    -0.062
Fare                      0.0025      0.002      1.501      0.133        -0.001     0.006
=========================================================================================

C:\Anaconda2\lib\site-packages\statsmodels\base\model.py:466: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  "Check mle_retvals", ConvergenceWarning)